window {
  background-color: #282a36;
  border: 2px solid #bd93f9; /* lavender border */
  border-radius: 10px;
}

#input {
  margin: 8px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  color: #f8f8f2;
  background-color: #44475a;
}

#outer-box {
  margin: 10px;
}

#entry {
  padding: 8px 12px;
  color: #f8f8f2;
  background-color: transparent;
}

#entry:selected {
  background-color: #bd93f9; /* Dracula purple highlight */
  color: #282a36;
  border-radius: 5px;
}

#scroll {
  margin: 5px;
}

